body {
  text-align: center;
}

.dice {
  width: 80px;
  height: 80px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rolling {
  animation: roll 0.5s ease-out;
}

.scene {
  width: 100vw;
  height: 100vh;
  perspective: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Pour éviter que le cube sorte trop de la page */
  position: relative;
}

.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
